<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-dedo" value="https://nuget.pkg.github.com/battistoniramiro/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-dedo>
      <add key="Username" value="battistoniramiro" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-dedo>
  </packageSourceCredentials>
</configuration>