<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github-dedo" value="https://nuget.pkg.github.com/battistoniramiro/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-dedo>
      <add key="Username" value="battistoniramiro" />
      <add key="ClearTextPassword" value="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" />
    </github-dedo>
  </packageSourceCredentials>
</configuration>